/*! purgecss start ignore */

@import "colors.scss";

$global-font-size: 14px;
$offcanvas-bar-background: $surface;
$offcanvas-bar-color-mode: dark;
$global-color: $text-color;
$global-link-color: $text-color;
$global-emphasis-color: $emphasis-text-color;
$global-border: $gray-light;
$global-warning-background: $warning-background;
$global-warning-color: $warning;
$global-danger-background: $error;
$global-success-background: $ok;
$global-muted-background: $surface;
$global-info-background: $surface;

$alert-primary-background: $primary-background;
$alert-primary-color: $primary-background-color;
$alert-success-background: $global-success-background;
$alert-success-color: $ok;
$alert-warning-background: $warning-background;
$alert-warning-color: $warning-background-color;
$alert-danger-background: $global-danger-background;
$alert-danger-color: $error-text;

/* Override UIKit variables that uses SCSS functions, since they do not accept CSS `--variables`. */

$button-default-hover-border: $global-border;
$button-default-active-border: $global-border;
$button-danger-hover-background: blue;
$button-danger-active-background: blue;

$icon-link-active-color: orange;
$icon-button-hover-background: orange;
$icon-button-active-background: orange;

$form-range-track-background: orange;
$form-range-thumb-border: $checkbox-border;
$form-radio-border: $checkbox-border;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;

  &:hover {
    color: inherit !important;
  }
}

table {
  td.actions {
    width: 64px;

    .uk-iconnav {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.bubble {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;

  &.success {
    background: $ok;
  }

  &.error {
    background: $error;
  }
}

.uk-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23787878' d='M12 1 9 6h6zM12 13 9 8h6z'/%3E%3C/svg%3E");
}

input:not([type="checkbox"]),
textarea,
select {
  border: 0 !important;
  border-radius: 3px !important;
  background-color: $form-background  !important;
}

.uk-card {

  input:not([type="checkbox"]),
  textarea,
  select {
    background-color: $card-form-background  !important;
  }
}

textarea {
  padding: 8px;
}

hr {
  margin: 16px 0;
  border: 0;
  border-top: 1px solid $gray-light;
}

.checkkind {
  padding: 4px 8px;
  background: $gray-dark;
  border-radius: 4px;
  font-size: 0.9em;
  color: white;
}

button,
.uk-button {
  border-radius: 4px !important;
}

.uk-card,
.uk-card-small {
  background: $surface;
  border-radius: 8px;
}

.uk-alert {
  border-radius: 4px;
}

.uk-alert-success.uk-alert-callout {
  background: $ok  !important;
}

.uk-alert-danger.uk-alert-callout {
  background: $error  !important;
}

.uk-notification-message {
  background: $gray-dark  !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  line-height: normal !important;
  color: white !important;
}

#timeline {
  .body {
    *:last-child {
      margin-bottom: 0;
    }

    em {
      color: inherit;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
