doctype html
html.keep(lang="en", data-theme="light")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="title" content="Defcon")
    meta(name="description" content="Defcon")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" media="none" onload="this.media = 'all'")

    title Defcon

    noscript
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap")

  body
    Dispatch#app
